<h3>Customers Orders</h3>
<button mat-raised-button>Create Route</button>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<div *ngIf="orders && !orders.length && !isLoading">You have no unfulfilled customers' orders</div>
<div *ngIf="hasErrors">Error getting customer' orders</div>
<mat-expansion-panel *ngFor="let order of orders">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ order.name }}
    </mat-panel-title>
    <mat-panel-description>
      <!-- {{ order.date | date:'d MMM y'}} -->
      {{ dateDiff(order.date,today) }}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <!-- panel content bellow-->
  <app-order [order]="order"></app-order>
</mat-expansion-panel>