mat-form-field.search {
    display: block;
}

div.first {
    margin: 1em 5vw;
}

h3 {
    display: inline-block;
}

#submit {
    float: right;
}

mat-spinner {
    margin: 3em auto;
}

#form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

#form :nth-child(1),
#form :nth-child(2){
    flex-grow: 2;
}

.dateInput {
    width: 90%;
}

#form :nth-child(4) {
    width: 100%;
}

@media(max-width: 550px){
    #form *{
        width: 100%;
    }
    div.first {
        margin: 1em 2vw;
    }
}