<h3>Picking Route</h3>
<button mat-raised-button (click)="showForm()">Finish Route</button>
<mat-progress-bar color="warn" *ngIf="isLoading" mode=determinate [value]="progress"></mat-progress-bar>
<div *ngIf="hasErrors">Error while calculating best route</div>
<div *ngIf="noRoute">You have no route calculated at the moment. Please go to an orders page to calculate one</div>
<mat-list *ngIf="!isLoading" role="list" [formGroup]="form">
  <div *ngFor="let item of items; let i = index" formArrayName="items">
    <mat-list-item role="listitem">
      {{ item.name }}
      Location: {{ item.location }}
      Quantity: {{ item.quantity }}
      <mat-form-field class="">
        <input matInput type="number" placeholder="Picked" [formControlName]="i" name="picked" value="{{item.quantity}}" min="0" max={{item.quantity}}>
      </mat-form-field>
    </mat-list-item>
     <mat-divider></mat-divider>
  </div>
</mat-list>
