div.first {
    margin: 1em 5vw;
}

input.picker {
    border-bottom: 1px solid black;
}

h3 {
    display: inline-block;
}

img {
    float: right;
}

button {
    float: right;
}

@media(max-width: 550px){
    div.first{
        margin: 1em 2vw;
    }
}
