.registerContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: #ffd740;
}

h2{
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}
.registerContainer form{
    width: 30em;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 
    0 8px 10px 1px rgba(0,0,0,.14), 
    0 3px 14px 2px rgba(0,0,0,.12);
    padding:3em;
    background-color: #f2f4f7;
}

input:focus {
    outline:#ffd740;
    border-color:#ffd740;
    box-shadow: none;
}

.form-group:last-child {
    display:flex;
    justify-content: flex-end
}

.btn-primary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-link {
    color: #6c757d;
    text-shadow: black;
}