<div class="body">
    <div class="hi">
        <h1>Hi {{currentUser.firstName}}!</h1>
        <a (click)="logout()"><span class="lnr lnr-power-switch"></span></a>
    </div>
<p>Welcome back to Storinator!</p>

<div class="main"> 
    <div class="row">
        <div class="stats_element" routerLink="/customersOrders" queryParamsHandling="merge">
            <mat-spinner color="accent" *ngIf="loadingCustomer"></mat-spinner>
            <span *ngIf="!loadingCustomer" class="main_number">{{ecl.length}}</span>
            <p class="main_text">Customer orders to send</p>
        </div>
    </div>
    <div class="row">
        <div class="stats_element" routerLink="/suppliersOrders" queryParamsHandling="merge">
            <mat-spinner color="accent" *ngIf="loadingSupplier"></mat-spinner>
            <span *ngIf="!loadingSupplier" class="main_number">{{ecf.length}}</span>
            <p class="main_text">Supplier orders to receive</p>
        </div>
    </div>
    <div class="row">
        <div class="stats_element"  routerLink="/routing" queryParamsHandling="merge">
            <div>
            <mat-spinner color="accent" *ngIf="loadingRoute"></mat-spinner>
            <span *ngIf="!loadingRoute" class="main_number">{{route}}</span>
            <p class="main_text">Items to complete</p>
            </div>
        </div>
    </div>
</div>

<a (click)="primavera.getToken()" id="get_token">Data is not being loaded? Please click here</a>
</div>