.statistics {
    display: flex;
    justify-content: space-around;
    padding: 3%;
    padding-bottom: 10%;
    flex-wrap: wrap;
}

.stats_row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats_element {
    text-align: center;
}

.main_number {
    font-size: 10em;
    
}

.main_text {
    font-size: 1.2em;
}


#get_token {
    font-size: 0.7em;
}

#get_token:hover {
    color: grey;
}