<div>
<h1>Hi {{currentUser.firstName}}!</h1>
<p>Welcome back to Storinator!</p>

</div>
<div class="statistics"> 
    <div class="stats_row">
        <div class="stats_element" routerLink="/customersOrders" queryParamsHandling="merge">
            <span class="main_number">{{ecl.length}}</span>
            <p class="main_text">Client orders to receive</p>
        </div>
    </div>
    <div class="stats_row">
            <div class="stats_element" routerLink="/suppliersOrders" queryParamsHandling="merge">
                <span class="main_number">{{ecf.length}}</span>
                <p class="main_text">Suplier orders to receive</p>
            </div>
        </div>
</div>

<a (click)="primavera.getToken()" id="get_token">Data is not being loaded? Please click here</a>