/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    background-color: #f2f4f7;
}

.navbar {
    background-color: #ffd740 !important;
}

.navbar .nav-item{
    color: black!important;
}

.mat-dialog-container {
    max-height: 90vh !important;
}

alert div {
    margin-bottom: 0 !important;
}
